.custom_select_filter_select_option {
    font-size: 12px;
    height: 35px;
    --min-height: none;
}
.pagination_bottom .pagination-container{
    padding-left: unset;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: unset;
}