.sizecar {
    width: 40px!important;
}
.sizeimg {
    width: 27%;
    margin-left: auto;
    margin-right: auto;
}
.sizeimgcar {
    width: 53%;
    margin-left: auto;
    margin-right: auto;
}
.sizeText {
    font-size: 12px;
}