.searchinput {
  --background: #fff;
  --border-radius: 6px;
  --box-shadow: 0px 1px 3px 0px grey;
  /* .searchbar-input-container {
        boder:1px solid #d5dce6;
    } */
}
.ion_slide_buttom {
  width: 152px !important;
  height: 32px !important;
  margin-left: 14px;
  margin-bottom: 4px;
  margin-top: 4px;

}
.font_size_buttom {
  font-size: 12px;
}
.w_buttom {
  width: 100%;
  margin: unset;
  height: 100%;
  --border-radius:4px;
}
.bt_color {
  color: #3d82c3;
}

.title {
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  tab-size: 4;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(204, 204, 204, 0.3);
  color: rgba(0, 0, 0, 0.87);
  background-repeat: no-repeat;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  position: relative;
  overflow: hidden;
  height: 30px;
  transform: translateY(-2px);
}

.title::before,.title::after {
    width: 34px;
    height: 30px;
    display: inline-block;
    content: "";
}

.title::before {
    background: url('../../img/title-left.svg') no-repeat;
    background-size: cover;
}

.title::after {
    background: url('../../img/title-right.svg') no-repeat;
    background-size: cover;
}

.h3_title {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: inline-block;
    font-family: robotobold,sans-serif!important;
    color: #b68348;
    vertical-align: top;
    background: linear-gradient(90deg,#ffe8bd,#f0d1a3 96.8%);
    font-size: 16px;
    line-height: 30px;
}
.car_popular_text_list {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin: 22px 0 20px;
    width: 100%;
    max-width: 100%;
}
.car_popular_text_list_wrapper {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    flex-wrap: wrap;
    display: block;
    margin-left: 32px;
}

.car_popular_text_list_wrapper>p {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: 500;
    color: #ffeac1;
    width: auto!important;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    margin-right: 0;
}

.car_popular_text_list_wrapper>p::before {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    content: "";
    display: inline-block;
    vertical-align: bottom;
    
    background: url('../../img/tick.svg') no-repeat;
    background-size: cover;
}

.car_popular_home {
    background-color: #173559;
    position: relative;
}

.car_popular_home::before {
    left: 0;
}

.car_popular_home::before,.car_popular_home::after {
    width: 109px;
    height: 100px;

    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    background: url('../../img/car-popular-bg-line.svg') no-repeat;
    background-size: cover;
}

.car_popular_home::after {
    right: 0;
    transform: rotateY(180deg);
}
.car_popular_home_text {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding:24px;
    /* margin: 32px auto 24px; */
    color: #768eaa;
    text-align: center;
    letter-spacing: .2px;
    font-size: 12px;
    line-height: 14px;
}
.car_popular_home_text >span {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: #768eaa;
    text-align: center;
    letter-spacing: .2px;
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.history_viewer {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
    position: relative;
    margin-bottom: -20px;
    margin-top: 30px;
}

.history_viewer_title {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    width: 100%;
    max-width: 1248px;
    margin: 0 auto 24px;
    text-align: left;
    padding: 0 16px;
}
.history_viewer_title >h3 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    text-align: left;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: 700;
    color: #173559;
    background: url('../../img/time.svg') 0 50% no-repeat;
    padding-left: 20px;
    font-size: 20px;
    line-height: 24px;
    background-size: 16px 16px;
    margin-bottom: 1rem;
}
.wHistory {
    width: 288px!important;
    margin-left: 10px;
}
.search_bar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
 }
 .view_more {
    margin: auto!important;
    margin-left: 10px!important;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    list-style: none;
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    position: relative;
    transition-property: transform;
    flex-shrink: 0;
    width: 288px;
    height: 334px;
 }
 .view_more_detail {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    list-style: none;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100%;
    font-family: robotobold,sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #173559;
    border-radius: 10px;
    width: 288px;
 }
 .view_more_detail > i {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    list-style: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    width: 40px;
    height: 40px;
    background: url("../../img/muiten.svg") no-repeat;
    background-size: cover;
    margin-bottom: 20px;
 }

.view_more_popular {
    margin: auto!important;
    margin-left: 10px!important;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    list-style: none;
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    position: relative;
    transition-property: transform;
    flex-shrink: 0;
    width: 288px;
    height: 334px;
 }
 .view_more_popular_detail {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    list-style: none;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100%;
    font-family: robotobold,sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #173559;
    text-align: center;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
    width: 288px;
 }
 .view_more_popular_detail > i {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    list-style: none;
    color: #173559;
    text-align: center;
    cursor: pointer;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    width: 34px;
    height: 25px;
    background: url("../../img/eye.svg") no-repeat;
    background-size: cover;
    margin-bottom: 20px;
 }
 .how_it_work {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    box-sizing: inherit;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: flex!important;
    flex-direction: column!important;
    background: #f4f6f8;
    padding: 32px 0 20px;
 }
 .how_it_work_title {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: Roboto,sans-serif!important;
    letter-spacing: .0125em!important;
    font-weight: 700;
    color: #2e2e2e;
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px!important;
    line-height: 24px;
 }
 .how_it_work_title::before {
    display: block;
    width: 32px;
    height: 4px;
    margin: 0 auto 12px;
    content: "";
    background: #fdcf33;
 }
 .how_buy_sell {
     width: 60%;
    /* --background:#ffffff; */
 }
 /* .segment_buy {
    --background-checked:#173559;
 }
 .segment_sell {
    --background-checked:#fdcf33;
 } */

 .how_buy_sell_swiper {
    justify-content: left;
    width: 248px!important;
    margin-left: 16px;
 }
 .happy_customer_total {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    box-sizing: inherit;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    padding: 32px 0;
    background: url("../../img/happy_customer.jpg") no-repeat 100% 0;
    background-size: cover;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
 }
 .happy_customer_title {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: 500;
    letter-spacing: .0125em!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    font-family: robotobold,sans-serif!important;
    color: #fff;
    font-size: 20px!important;
    line-height: 22px;
 }

 .happy_customer_title>h3 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    letter-spacing: .0125em!important;
    color: #fff;
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
 }
 .happy_customer_title::before {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 12px;
    content: "";
    background: #fdcf33;
    border-radius: 4px;
 }
.fb_review_total {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    width: 100%;
    max-width: inherit;
    margin-top: 105px;
}
.fb_review_header {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: flex!important;
    justify-content: space-between!important;
}
.fb_review_body {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    position: relative;
    margin-top: 24px;
}
.fb_vote_total {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: flex!important;
    margin-left: 16px;
}
.fb_vote_icon {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin-right: 12px!important;
    background: url("../../img/fb_icon.svg") no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}
.fb_vote_rating_total {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.fb_vote_rating_content {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    align-items: center!important;
    display: flex;
}
.fb_vote_rating_point {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: robotobold,sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}
.fb_vote_rating_start {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    color: rgba(0,0,0,.87);
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    max-width: 100%;
    white-space: nowrap;
    font-size: 26px;
    line-height: 32px;
}
.fb_vote_rating_start_style {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(204,204,204,.3);
    white-space: nowrap;
    background-repeat: no-repeat;
    margin: 0;
    box-sizing: inherit;
    font: inherit;
    overflow: visible;
    text-transform: none;
    background-color: transparent;
    border-style: none;
    font-family: Roboto,微软雅黑,Microsoft Yahei,Helvetica,Helvetica Neue,segoe UI Light,Kozuka Gothic Pro,sans-serif;
    -webkit-appearance: button;
    align-items: center;
    display: inline-flex;
    font-feature-settings: "liga";
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    vertical-align: middle;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
    outline: none;
    transform: scaleX(1);
    padding: 3px;
    font-size: 30px;
    color: #FFDB1D;
    caret-color: #FFDB1D;
}
.fb_vote_rating_start_style::before {
    content: "\F04CE";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}
.fb_vote_rate_foter {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: robotoregular,sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
}
.comment_slide {
    justify-content: left;
    width: 248px!important;
    margin-left: 16px;
}
.back_ground_content {
    --background:#fff;
}